#movie-wrapper {
    text-align: center;
    margin: 1%;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

#movie-card {
    width: 18rem;
    margin: 1%;
}

#movie-poster {
    height: 10rem;
    object-fit: cover;
    /* object-position: top; */
}